<div class="card card-body mb-4">
  <form>
    <div class="form-group">
      <label for="inputState">Description</label>
      <input type="text" class="form-control mb-3" name="description" [(ngModel)]="itemOnScreen.description" placeholder="Add item TO DO">

      <label for="inputState">Priority</label>
      <select  name="priority" [(ngModel)]="itemOnScreen.priority" class="form-control">
        <option *ngFor="let priorityTuple of priorities" value="{{priorityTuple[0]}}">{{priorityTuple[1]}}</option>
      </select>

    </div>  

    <button type="submit" class="btn btn-primary float-right" (click)="onSaveClicked()" [disabled]="!this.itemOnScreen.description || !this.itemOnScreen.priority">{{this.buttonText}}</button>

    <button class="btn btn-danger float-left" (click)="resetItemForm()" [hidden]="!this.isEditing">Cancel</button>
  </form>

</div>